image: java:8-jdk
stages:
  - test
  - build
services:
  - 'mysql:latest'
variables:
  MYSQL_DATABASE: movieDb
  MYSQL_CI_URL: jdbc:mysql://mysql/movieDb
  MYSQL_USER: app_root
  MYSQL_PASSWORD: root
  MYSQL_ROOT_PASSWORD: root
maven-test:
 image: maven:3-jdk-8
 stage: test
 script: "mvn test -B"
maven-build:
 image: maven:3-jdk-8
 stage: build
 script: "mvn package -B"
 artifacts:
  paths:
   - target/*.jar